html{
	background-color:#343233;
	margin-top:0;
	padding-top:0;
}

body{
	margin:0;
	padding:0;
	outline:0;
}


/*****NAV BAR*****/

#nav_bar{
	position:relative;
	display:flex;
	height:30px;

}

nav{
	display:flex;
	justify-content: flex-end;
	flex-grow:1;
}

nav ul{
	display:flex;
	flex-grow:1;
	justify-content: flex-end;
	margin-top:0;
	margin-bottom:0;
	background:#584B4F;
	flex-wrap:wrap;
	border-left:none;
	border-right:none;
}

nav li{
	display:flex;
	flex-grow:1;
	justify-content: center;
	list-style-type: none;
	background-color:#584B4F;
}


nav li a{
	display:flex;
	flex-grow:1;
	margin:0;
	justify-content: center;
	align-items:center;
	text-decoration:none;
	font-size:1em;
	color:white;
	font-family:'Spartan', 'Courier';
}

nav li:hover{
	background-color:#93787F;
}

.invisible_box{
	visibility:hidden;
}

/**************/

main{
	display:flex;
	flex-direction: column;
	flex-wrap:wrap;
}

/*****BLOCK_HAUT******/


#block_haut{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

#block_gauche{
	background: rgb(33,37,43);
	background: linear-gradient(0deg, rgba(33,37,43,1) 0%, rgba(120,175,159,1) 30%);
	flex-grow:9999;
}

#block_gauche header{
	display:flex;
}

#logo{
	width:12%;
}

#block_gauche h2{
	margin:auto;
	font-family:'Atomic Age', 'Courier';
	font-size:1.5em;
	font-weight:600;
	color:#E0AD37;
	text-shadow:1px 0 white, 0 1px white;
}

#text_block_gauche{
	margin: auto 3% auto 3%;
	font-family:'Montserrat', 'Courier';
	color:#343334;
	font-size:1.2em;
}

#text_block_gauche a{
	color:#E0AD37;
	text-decoration:none;
}

#text_block_gauche a:hover{
	background-color:#36373A;
}

#block_gauche, #screen_droit{
	display:flex;
	flex-direction:column;
	width:45%;
	min-width:300px;
}

#screen_droit{
	height:auto;
	margin:0;
	flex-grow:1;
	width:50%;
}

figure{
	margin-right:0;
	margin-left:0;
}

figure img{
	width:100%;
}

figcaption{
	background-color:#25252B;
	font-family:'Imprima', 'Courier';
	color:#CCCCD1;
	padding-left:1%;
	padding-top:1%;
	padding-bottom:1%;
}


/*****BLOCK_BAS******/

#block_bas{
	display:flex;
	flex-wrap:wrap-reverse;
	justify-content: center;
	align-items:stretch;
}

#block_droit, #screen_gauche{
	display:flex;
	flex-direction:column;
	width:40%;
	min-width:300px;
}

#block_droit{
	display:flex;
	flex-direction:column;
	background: rgb(37,37,43);
	background: linear-gradient(180deg, rgba(37,37,43,1) 0%, rgba(120,175,159,1) 30%);
	flex-grow:9999;
}

#screen_gauche{
	width:50%;
	margin:0;
	flex-grow:1;
}

#text_block_droit{
	display:flex;
	flex-direction:column;
	flex-grow:1;
	color:#343334;
	font-family:'Montserrat', 'Courier';
	justify-content: center;
	margin:-3% 2% 0% 2%;
	font-size:1.2em;
}


#block_droit h2{
	font-family:'Atomic Age', 'Courier';
	color:#E0AD37;
	text-align:center;
	text-shadow:0 1px white, 1px 0 white;
}

#download{
	background-color:#af789c;
	padding:2% 3% 2% 3%;
	color:#343334;
	text-decoration:none;
	font-family:'Trebuchet MS';
	text-align:center;
	align-items:center;
	margin-right:auto;
	margin-left:auto;
	border-radius:6px;
	box-shadow:2px 0 2px #527269, 0 2px 2px #527269;

}

em{
	font-style:inherit;
}

/*****FOOTER*****/

#footer_end{
	background-color:#E1CC48;
	width:100%;
	padding-bottom:1%;
}

#footer_end p{
	padding-top:1%;
	text-align:center;
	margin-bottom:0;
	margin-top:0;
}

#bordel_footer p a{
	font-family:'Spartan';
	color:#62A4CD;
	text-decoration:none;
}

#bordel_footer p a:hover{
	background-color:#A19441;
	color:#FFFFFF;
	text-decoration:underline;
}

#leak-ide-logo{
	width:8%;
	align-items:center;
	box-shadow:6px 6px 1px #272821;
}