body{
	margin:0;
	padding:0;
}

html{
	background-color:#686868;
}

header{
	position:relative;
	display:flex;
	background-color:#604F3D;
}

header img{
	width:10%;
}

nav{
	display:flex;
	justify-content: center;
	position:absolute;
	right:0%;
}

nav ul{
	display:flex;
	list-style-type:none;
}

nav a{
	text-decoration:none;
	background-color:#272821;
	padding:30px;
}

article{
	display:flex;
	flex-direction:column;
	background-color:#F05694;
	width:auto;
	height:auto;
	border:2px solid white;
}

article header, aside header{
	background-color:#D1D1D1;
}

aside{
	display:flex;
	background-color:#9A74D5;
	width:auto;
	border: 2px solid white;
}

main{
	display:flex;
	flex-direction:row;
}

article img{
	width:100%;
}

#footer_end{
	background-color:#E1CC48;
	height:20px;
	width:100%;
}


#block_droit{
	display:flex;
	flex-direction:column;
}

#block_main{
	padding:0px;
}

#leak_ide_logo{

}