html{
	background-color:#2E2619;
	margin-top:0;
	padding-top:0;
}

body{
	margin:0;
	padding:0;
	outline:0;
}


/*****NAV BAR*****/

#nav_bar{
	position:relative;
	display:flex;
	margin-bottom:2%;
	height:30px;

}

#nav_bar img{
	width:1%;
	flex-grow:0.3;
	border:1px solid white;
}

nav{
	display:flex;
	justify-content: flex-end;
	flex-grow:1;
}

nav ul{
	display:flex;
	flex-grow:1;
	justify-content: flex-end;
	margin-top:0;
	margin-bottom:0;
	background: rgb(225,204,72);
	background: linear-gradient(90deg, rgba(225,204,72,1) 0%, rgba(238,138,42,1) 32%);
	flex-wrap:wrap;
	border:1px groove #E1CC48;
	border-left:none;
	border-right:none;
}

nav li{
	display:flex;
	flex-grow:1;
	justify-content: center;
	border-right:1px solid #E1CC48;
	border-top:none;
	border-bottom:none;
	list-style-type: none;
	background-color:#EE8A2A;
}


nav li a{
	display:flex;
	flex-grow:1;
	margin:0;
	justify-content: center;
	align-items:center;
	text-decoration:none;
	font-size:1em;
	color:white;
	font-family:'Spartan', 'Courier';
}

nav li:hover{
	background-color:#F8A353;
}

.invisible_box{
	visibility:hidden;
}

/**************/

main{
	display:flex;
	flex-direction: column;
	margin-left:4%;
	margin-right:4%;
	flex-wrap:wrap;
}

/*****BLOCK_HAUT******/

#block_haut{
	display:flex;
	flex-wrap:wrap;
}

#block_gauche, #screen_droit{
	display:flex;
	flex-direction:column;
	border:2px solid white;
	width:40%;
	min-width:300px;
}

#block_gauche{
	background-color:#3A3A3A;
	flex-grow:9999;
	border-top-left-radius:8px;
	border-right:none;
}

#block_gauche header{
	display:flex;
	border-bottom:2px solid;
	background: rgb(58,58,58);
	background: linear-gradient(90deg, rgba(58,58,58,1) 0%, rgba(238,138,42,1) 30%, rgba(238,138,42,1) 70%, rgba(58,58,58,1) 100%);
	border-top-left-radius:8px;
	border-image: linear-gradient(90deg, rgba(58,58,58,1) 0%, rgba(238,138,42,1) 30%, rgba(238,138,42,1) 70%, rgba(58,58,58,1) 100%);
}

#logo{
	width:12%;
	border-top-left-radius:8px;
}

#block_gauche h2{
	margin:auto;
	font-family:'Lobster', 'Courier';
	font-size:1.5em;
	font-weight:600;
	color:white;
}

#text_block_gauche{
	margin: auto 3% auto 3%;
	font-family:'Quicksand', 'Courier';
	color:#D87A26;
	font-size:1.2em;
}

#text_block_gauche a{
	color:#FDAB5E;
	text-decoration:none;
}

#text_block_gauche a:hover{
	background-color:#1D1F21;
}

#screen_droit{
	width:50%;
	height:auto;
	margin:0%;
	flex-grow:1;
	border-left:none;
	border-top-right-radius:8px;
}

figure{
	margin-right:0;
	margin-left:0;
}

figure img{
	width:100%;
	border-top-right-radius:8px;
}

figcaption{
	border-bottom-right-radius:8px;
	border-bottom-left-radius:8px;
	background-color:#25252B;
	font-family:'Imprima', 'Courier';
	color:#CCCCD1;
	padding-left:1%;
	padding-top:1%;
	padding-bottom:1%;
}


/*****BLOCK_BAS******/

#block_bas{
	display:flex;
	flex-direction:row-reverse;
	flex-wrap:wrap-reverse;
}

#block_droit, #screen_gauche{
	display:flex;
	flex-direction:column;
	border:2px solid white;
	width:40%;
	min-width:300px;
	border:2px solid white;
}

#block_droit{
	display:flex;
	flex-direction:column;
	background-color:#3A3A3A;
	flex-grow:0.8;
	border:2px solid white;
	border-bottom-left-radius:8px;
	border-right:none;
	flex-grow:9999;
}

#screen_gauche{
	margin:0%;
	width:50%;
	border:2px solid white;
	border-bottom-right-radius:8px;
	flex-grow:1;
	border-left:none;
}

#text_block_droit{
	display:flex;
	flex-direction:column;
	flex-grow:1;
	color:#D87A26;
	font-family:'Quicksand', 'Courier';
	justify-content: center;
	margin:-3% 2% 0% 2%;
	font-size:1.2em;
}

#block_droit header{
	border-bottom:2px solid;
	background: rgb(58,58,58);
	background: linear-gradient(90deg, rgba(58,58,58,1) 0%, rgba(238,138,42,1) 30%, rgba(238,138,42,1) 70%, rgba(58,58,58,1) 100%);
	border-image: linear-gradient(90deg, rgba(58,58,58,1) 0%, rgba(238,138,42,1) 30%, rgba(238,138,42,1) 70%, rgba(58,58,58,1) 100%);
}

#block_droit h2{
	font-family:'Lobster', 'Courier';
	color:white;
	text-align:center;
}

#download{
	background-color:#EE8A2A;
	padding:2% 3% 2% 3%;
	color:white;
	text-decoration:none;
	font-family:'Trebuchet MS';
	text-align:center;
	align-items:center;
	margin-right:auto;
	margin-left:auto;
	border:2px solid white;

}

em{
	font-style:inherit;
}

/*****FOOTER*****/

#footer_end{
	background-color:#E1CC48;
	width:100%;
	margin-top:2%;
	margin-bottom:0;
	padding-bottom:1%;
	border-top:2px solid white;
}

#footer_end p{
	padding-top:1%;
	text-align:center;
	margin-bottom:0;
}

#bordel_footer p a{
	font-family:'Spartan';
	color:#62A4CD;
	text-decoration:none;
}

#bordel_footer p a:hover{
	background-color:#A19441;
	color:#FFFFFF;
	text-decoration:underline;
}

#leak-ide-logo{
	width:8%;
	align-items:center;
	box-shadow:6px 6px 1px #272821;
}