html{
	margin-top:0;
	padding-top:0;
}

body{
	margin:0;
	padding:0;
	outline:0;
}


/*****NAV BAR*****/

#nav_bar{
	position:relative;
	display:flex;
	height:30px;

}

#nav_bar img{
	width:1%;
	flex-grow:0.3;
	border:1px solid white;
}

nav{
	display:flex;
	justify-content: flex-end;
	flex-grow:1;
}

nav ul{
	display:flex;
	flex-grow:1;
	justify-content: flex-end;
	margin-top:0;
	margin-bottom:0;
	background: rgb(225,204,72);
	background: linear-gradient(90deg, rgba(225,204,72,1) 0%, #10173C 32%);
	flex-wrap:wrap;
	border-left:none;
	border-right:none;
	border-bottom:2px solid;
	border-image: linear-gradient(90deg, rgba(9,123,215,0.2), rgba(9,123,215,1) 50%, rgba(9,123,215,0.2)) 1;
	/*border-image:linear-gradient(90deg, rgba(124,144,244,0) 0%, rgba(28,41,106,0.7) 30%, rgba(9,123,215,1) 50%, rgba(0,0,0,0.7) 70%, rgba(0,0,0,0) 100%);*/
}

nav li{
	display:flex;
	flex-grow:1;
	justify-content: center;
	border-right:1px solid rgba(9,123,215,1);
	border-top:none;
	border-bottom:none;
	list-style-type: none;
	background-color:#10173C;
}


nav li a{
	display:flex;
	flex-grow:1;
	margin:0;
	justify-content: center;
	align-items:center;
	text-decoration:none;
	font-size:1em;
	color:white;
	font-family:'Spartan', 'Courier';
}

nav li:hover{
	background-color:#6858BA;
}

.invisible_box{
	visibility:hidden;
}

/**************/


main{

}

#main_block{
	padding-top:8%;
	padding-bottom:8%;
	display:flex;
	flex-grow:1;
	background-image:radial-gradient(ellipse, rgba(124,144,244,0.13776848630077032) 0%, rgba(28,41,106,1) 66%, rgba(0,0,0,1) 100%), url("images/screens/visual-bg.jpg");
	justify-content: center;
	text-align:center;
	align-items:center;
}

#text_block{
	display:flex;
	flex-direction:column;
}

#text_block header{
	font-family:'Spartan', 'Courier';
	color:white;
	text-shadow:3px 0 5px grey, 0 3px 5px grey;
}

#main_block h1{
	font-size:3em;
}

#main_block h2{
	font-size:1.8em;
}

#text_block p{
	font-family:'Imprima', 'Courier';
	color:white;
	font-size:1.3em;
	text-shadow:3px 0 3px black, 0 3px 3px black;
}

#text_block a{
	color:#95C3FC;
	text-decoration:none;
}

#download{
	background-color:#0066B8;
	padding:6% 10% 6% 10%;
	color:white;
	font-size:1.5em;
	font-family:'Trebuchet MS';
	text-decoration:none;
	margin-bottom:5%;
	margin-top:5%;
}

/*****FOOTER*****/

#footer_end{
	background-color:#E1CC48;
	width:100%;
	margin-bottom:0;
	padding-bottom:1%;
	border-top:2px solid;
	border-image: linear-gradient(90deg, rgba(9,123,215,0.2), rgba(9,123,215,1) 50%, rgba(9,123,215,0.2)) 1;
}

#footer_end p{
	padding-top:1%;
	text-align:center;
	margin-bottom:0;
}

#bordel_footer p a{
	font-family:'Spartan';
	color:#62A4CD;
	text-decoration:none;
}

#bordel_footer p a:hover{
	background-color:#A19441;
	color:#FFFFFF;
	text-decoration:underline;
}

#leak-ide-logo{
	width:8%;
	align-items:center;
	box-shadow:6px 6px 1px #272821;
}